<p>device works!</p>


<h2>{{terarium1st.deviceName | uppercase}} Details</h2>
<div><span>id: </span>{{terarium1st.deviceID}}</div>
<div><span>name: </span>{{terarium1st.deviceName}}</div>
<div><span>key: </span>{{terarium1st.api_key}}</div>

<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="terarium1st.deviceName" placeholder="name">
  </div>


  <h2>My Devices</h2>
<ul class="coreDevices">
    <li *ngFor="let device of coreDevices"
    [class.selected]="device === selectedDevice"
    (click)="onSelect(device)">

    <span class="badge">{{device.deviceID}}</span> {{device.deviceName}}

  </li>
</ul>

<app-device-details [device]="selectedDevice"></app-device-details>